<mat-toolbar class="page-header" role="heading">
  <h3>Tables QuizQuestionType</h3>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card class="employee-table-wrapper">

  <mat-card-content class="employee-table__content">
    <table class="employee-table__table" mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name" >
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef > Name </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> Description
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> Type
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.type}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </mat-card-content>
  <div class="pagination">
    <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>


