.registerField {
  margin: 20px auto;
  background-color: #FFFFFF;
  max-width: 385px;
  height: 100%;
}

textarea {
  resize: none;
}

.modal {
  background: rgba(0, 0, 0, .5);
}

.authRole {
  width: 100%;
}

div.alert {
  margin: 0;
  padding: 10px 10px;
  text-align: center;
}
