<!--создание/редактирование производителя-->

<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <!--  Код машины -->
  <mat-form-field appearance="standard">
    <mat-label>Название (17 символов)</mat-label>
    <input
      #inputTitle
      matInput maxlength="17"
      [(ngModel)]="machineDto.code"
      (keydown.enter)="confirm()"
    />
    <button
      *ngIf="machineDto.code.trim().length > 0"
      class="clear-icon"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="machineDto.code= ''"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <!--  Модель машины -->
  <mat-form-field appearance="standard">
    <mat-label>Модель</mat-label>
    <input
      #inputModel
      matInput maxlength="35"
      [(ngModel)]="machineDto.model"
      (keydown.enter)="confirm()"
    />
    <button
      *ngIf="machineDto.model.trim().length > 0"
      class="clear-icon"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="machineDto.model= ''"
    >
      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>

  <!--  Год выпуска -->
  <mat-form-field>
    <mat-label>Год выпуска</mat-label>
    <input
      #inputYear
      matInput maxlength="4"
      [(ngModel)]="machineDto.year"
      (keydown.enter)="confirm()"
    />
    <button
      *ngIf="machineDto.year > 0"
      class="clear-icon"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="machineDto.year= 0"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <!--  производитель -->
  <mat-form-field>
    <mat-label>Выберите производителя</mat-label>
    <mat-select [(value)]="curManufactureId">
      <mat-option [value]="null">-</mat-option>
      <mat-option *ngFor="let manufacture of manufactures" [value]="manufacture.id">
        {{manufacture.name}}
      </mat-option>
    </mat-select>
    <button
      *ngIf="machineDto.year > 0"
      class="clear-icon"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="machineDto.year= 0"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>


</mat-dialog-content>




<!--  кнопки возможных действий-->
<mat-dialog-actions>

  <div class="col-12 text-center">

    <button
      mat-raised-button color="primary"
      (click)="confirm()"
      [disabled]="inputTitle.value.trim().length==0"
    >
      Сохранить
    </button>

    <button mat-raised-button (click)="cancel()">Отмена</button>

  </div>

  <div class="col-12 text-center">
    <button
      *ngIf="canDelete"
      mat-button
      (click)="delete()" class="red">

      Удалить

    </button>


  </div>

</mat-dialog-actions>

