<div class="cont-horiz body">
  <div class="cont-vert-around box2">
    <h2 style="text-align:center">Войдите с помощью номера телефона</h2>

    <form [formGroup]="nameForm" novalidate>
      <input class="fio fio-text form-control" formControlName="name" type="text" placeholder="Имя" >
      <div
        *ngIf="nameForm.controls['name'].invalid && (nameForm.controls['name'].dirty || nameForm.controls['name'].touched)"
        class="alert alert-danger">
        <div *ngIf="nameForm.controls['name'].errors?.['name']">
          Необходимо ввести имя.
        </div>
      </div>
      <!-- lastName-->
      <input class="fio fio-text form-control" formControlName="lastName" type="text"
             placeholder="Фамилия" >
      <div
        *ngIf="nameForm.controls['lastName'].invalid && (nameForm.controls['lastName'].dirty || nameForm.controls['lastName'].touched)"
        class="alert alert-danger">
        <div *ngIf="nameForm.controls['lastName'].errors?.['lastName']">
          Необходимо ввести Фамилию.
        </div>
      </div>

      <div class="cont-horiz-start">
        <div class="checkbox">✓</div>
        <p>Согласен с <span style="color: #67C4B2;"> правилами и условиями</span></p>
      </div>
      <div class="cont-horiz">
        <div class="btn2 button-text cont-vert" (click)="back()" >Назад</div>

        <button type="button" [disabled]="nameForm.pristine || nameForm.invalid"
                class="btn btn-success d-grid col mx-auto mb-3 regSubmit"
                (click)="this.checkData()">
          Далее
        </button>

<!--        <div class="btn2 button-text cont-vert"-->
<!--             [disabled]="nameForm.pristine || nameForm.invalid" (click)="checkData()">Далее</div>-->
      </div>
    </form>

  </div>
</div>
