<mat-toolbar class="page-header" role="heading">
  <h3>Tables UserQuiz</h3>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card class="employee-table-wrapper">

  <mat-card-content class="employee-table__content">
    <table class="employee-table__table" mat-table [dataSource]="dataSource">

      <!-- userId Column -->
      <ng-container matColumnDef="userId" >
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef > userId </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          {{element.userId}} </td>
      </ng-container>

      <!-- quizName Column -->
      <ng-container matColumnDef="quizName" >
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef > quizName </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.quizName}}
        </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> status
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- score Column -->
      <ng-container matColumnDef="score">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> score
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.score}}
        </td>
      </ng-container>

      <!-- created Column -->
      <ng-container matColumnDef="created">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> created
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.created}}
        </td>
      </ng-container>

      <!-- updated Column -->
      <ng-container matColumnDef="updated">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> updated
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.updated}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </mat-card-content>
  <div class="pagination">
    <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>



