
<app-table-quiz [employeeTableData]="employeeTableData$ | async"></app-table-quiz>
<app-quiz-question-type></app-quiz-question-type>
<app-quiz-question></app-quiz-question>
<app-quiz-answer></app-quiz-answer>
<app-user-quiz></app-user-quiz>
