<!--создание/редактирование производителя-->

<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>


  <mat-form-field>
    <mat-label>Название (35 символов)</mat-label>
    <input
      #inputTitle

      matInput maxlength="35"

      [(ngModel)]="manufactureDto.name"
      (keydown.enter)="confirm()"

    />

    <button
      *ngIf="manufactureDto.name.trim().length > 0"

      class="clear-icon"
      mat-button matSuffix mat-icon-button aria-label="Clear"

      (click)="manufactureDto.name= ''"

    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>


<!--  кнопки возможных действий-->
<mat-dialog-actions>

  <div class="col-12 text-center">

    <button
      mat-raised-button color="primary"
      (click)="confirm()"
      [disabled]="inputTitle.value.trim().length==0"
    >
      Сохранить
    </button>

    <button mat-raised-button (click)="cancel()">Отмена</button>

  </div>

  <div class="col-12 text-center">
    <button
      *ngIf="canDelete"
      mat-button
      (click)="delete()" class="red">

      Удалить

    </button>

  </div>

</mat-dialog-actions>
