<div class="cont-horiz body" style="background: #FAFAFC;">
  <div class="cont-vert-around box2">
    <div style="padding-top:20px;"><h2>Мы отправили СМС код на номер:</h2>
      <p class="phone-text"> +7{{phoneNumber}}</p> </div>
    <div class="cont-horiz">

      <form [formGroup]="codeForm" novalidate>

        <input class="sms" type="text" placeholder="0" formControlName="codeByte" >

        <div
          *ngIf="codeForm.controls['codeByte'].invalid && (codeForm.controls['codeByte'].dirty || codeForm.controls['codeByte'].touched)"
          class="alert alert-danger mb-3 mt-1">
          <div *ngIf="codeForm.controls['codeByte'].errors">
            Необходимо ввести код из четырх цифр.
          </div>
        </div>



      </form>



    </div>
    <div class="cont-horiz-start">
      <p>Не пришёл код? <span style="color: #67C4B2;"> <a href="#">Прислать повторно</a></span></p>
    </div>
    <div class="cont-horiz">
      <div class="btn2 button-text cont-vert" (click)="back()">Назад</div>
      <div class="btn2 button-text cont-vert" (click)="sendCodeAndGetAuth()">Далее</div>
    </div>

  </div>
</div>
<div>codeValue =
  {{codeValidation}}
  phoneNumber =
  {{phoneNumber}}
</div>

