<mat-toolbar class="page-header" role="heading">
  <h3>Tables Question</h3>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openAddDialog()">Add QuizQuestion</button>
</mat-toolbar>

<mat-card class="employee-table-wrapper">
  <mat-card-title class="employee-table-wrapper__header">
    <p *ngIf="!isShowFilterInput" class="employee-table-wrapper__title">Quiz Question List</p>

    <div *ngIf="isShowFilterInput" class="employee-table-wrapper__search">
      <div class="employee-table-wrapper__icon-wrapper">
        <mat-icon class="employee-table-wrapper__icon">search</mat-icon>
      </div>
      <input matInput class="employee-table-wrapper__search-input" (keyup)="applyFilter($event)">
      <button class="employee-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
        <mat-icon class="employee-table-wrapper__icon">close</mat-icon>
      </button>
    </div>
    <button class="employee-table-wrapper__button" mat-mini-fab (click)="showFilterInput()">
      <mat-icon class="employee-table-wrapper__icon">search</mat-icon>
    </button>

  </mat-card-title>
  <mat-card-content class="employee-table__content">
    <table class="employee-table__table" mat-table [dataSource]="dataSource">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th class="employee-table__table-checkbox" mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td class="employee-table__table-checkbox" mat-cell *matCellDef="let row">
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- quizName Column -->
      <ng-container matColumnDef="quizName" >
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef > quizName </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.quizName}}
        </td>
      </ng-container>

      <!-- serialNumber Column -->
      <ng-container matColumnDef="serialNumber">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> serialNumber
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          {{element.serialNumber}} </td>
      </ng-container>

      <!-- quizQuestionTypeName Column -->
      <ng-container matColumnDef="quizQuestionTypeName">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> TypeName
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element"> {{element.quizQuestionTypeName}}
        </td>
      </ng-container>

      <!-- question Column -->
      <ng-container matColumnDef="question">
        <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef> question
        </th>
        <td class="employee-table__table-body" mat-cell *matCellDef="let element">
          {{element.question}}
        </td>
      </ng-container>


      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="openEditDialog(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </mat-card-content>
  <div class="pagination">
    <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>


